{% extends 'app/base.html' %}

{%load static%}    

{% block contenido %}

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'app/img/banner/banner1.jpg' %}" class="d-block w-100" alt="banner1">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/img/banner/banner2.jpg' %}" class="d-block w-100" alt="banner2">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/img/banner/banner3.jpg' %}" class="d-block w-100" alt="banner3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

{%load humanize%}
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h2>Productos</h2>
    </div>
  </div>
  <div class="row">
    {% for p in productos %}
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card mb-4">
        <img src="{{ p.imagen.url }}" class="card-img-top" alt="imagen producto">
        <div class="card-body">
          <h5 class="card-title">{{ p.nombreprod | title }}</h5>
          <p class="card-text">{{ p.artista }}</p>
          <p class="card-text">${{ p.precio | intcomma }}</p>
          <a href="{% url 'detalle_producto' p.id %}" class="btn btn-primary">ver</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

  
  

{% endblock%}